<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DocList</title>

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

<div class="container mx-auto mt-5">
    <h1>DocList</h1>

    <div class="row">
        <div class="col-4">
            <nav id="collections" class="list-group" role="tablist">
                {% for collection in collections %}
                    {% include 'tasks/collection.html' with collection=collection %}
                {% endfor %}
            </nav>

            <form class="d-flex gap-2 mt-2" method="POST" action="{% url 'tasks:add-collection' %}">
                {% csrf_token %}

                <input class="form-control" type="text" name="collection-name" placeholder="Collection...">
                <button class="btn btn-success"
                        hx-post="{% url 'tasks:add-collection' %}"
                        hx-target="#collections"
                        hx-swap="beforeend"
                        type="submit"
                >Ajouter</button>
            </form>
        </div>

        <section class="col-8">
            <form class="d-flex gap-2" method="POST">
            {% csrf_token %}

            <input class="form-control" type="text" name="task-description" placeholder="Tâche...">
            <button class="btn btn-success"
                    hx-post="{% url 'tasks:add-task' %}"
                    hx-target="#tasks-html"
                    hx-vals="js:{collection: getCollectionFromURL()}"
                    hx-swap="beforeend"
                    type="submit">
                Ajouter
            </button>
            </form>

            <section id="tasks-container">
                {% include 'tasks/tasks.html' with tasks=tasks collection=collection %}
            </section>
        </section>

    </div>
</div>

<script>
    document.body.addEventListener("htmx:responseError", function(evt) {
        alert(evt.detail.xhr.responseText);
    })

    function getCollectionFromURL() {
        let url = new URL(window.location.href);
        let searchParams = url.searchParams;
        return searchParams.get("collection");
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>