<form method="POST" class="d-flex justify-content-between">
    {% csrf_token %}
    <p class="mb-0">{{ task.description }}</p>
    <button class="btn btn-danger"
            hx-post="{% url 'tasks:delete-task' task.pk%}"
            hx-target="closest form"
            hx-swap="outerHTML"
            hx-confirm="Voulez-vous vraiment supprimer cette tâche?"
            type="submit">Supprimer
    </button>
</form>